* {
	margin: 0;
	padding: 0;
}

nav {
	display: inline-block;
	position: relative;
	top: 30px;
	left: 60px;
	border-radius: 20px;
	border: 2px solid black;
	padding: 0 30px;
}

ul li {
	display: inline-block;
	padding: 10px;
	margin: 0 10px;
	font-size: larger;
}

#about {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

form {
	align-items: center;
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 100px;
}

article {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}
