* {
	margin: 0;
	padding: 0;
}

nav {
	display: inline-flex;
	justify-content: left;
	position: relative;
	top: 30px;
	left: 80px;
	border-radius: 10px;
	border: 2px solid black;
	padding: 0 30px;
}

ul li {
	display: inline-block;
	padding: 10px;
	margin: 0 20px;
	color: black;
}

#about {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

ul li:hover {
	transform: scale(1.5);
	text-decoration: underline;
	transition: 1s;
}

form {
	align-items: center;
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 100px;
}

.search_home {
	border: 2px solid black;
	padding: 150px 150px 50px 150px;
	margin: 60px;
	background-image: url(./img/pexels-photo-385997.jpeg);
	background-position: center;
}

.search_bar {
	display: flex;
	align-items: center;
	border: 2px solid lightgray;
	height: 25px;
	padding: 10px 20px;
	border-radius: 999px;
	width: 110vw;
	margin: 0 auto;
	margin-top: 70px;
	max-width: 700px;
}

.search_bar input {
	flex: 1;
	padding: 10px 20px;
	font-size: medium;
	border: none;
}

.search_bar input:focus {
	outline: none;
}

.search_inputIcon {
	color: black;
}

.search_button {
	display: flex;
	justify-content: center;
}

.search_button button {
	margin: 5px;
	padding: 7px 15px;
	border: 1px solid white;
	border-radius: 999px;
	text-transform: inherit;
	color: #222;
}

.search_button button:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	color: #222;
}

.home_card:hover {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	animation-name: example;
	animation-duration: 0.25s;
	border-left: 8px solid rgb(32, 27, 27);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.map_btn {
	position: absolute;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}
